html,body,.container{
	height: 100%;
}
/*头部搜索区*/
.header{
	height: 40px;
	display: flex;
}


.main{
	padding-top:40px;
	width: 100%;
	height: 100%;
}

/*主体区左侧*/ 
.left{
	float: left;
	width: 100px;
	height: 100%;
	/*border:solid 1px red;*/
	overflow: hidden;
}
.left ul{
	/*这里里面要做滚动的盒子，不能设置高度
	通常他超过外面的盒子，就可以滚动了*/
	/*height: 100%;*/
}
.left ul li{
	line-height: 3em;
	text-align: center;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.left ul li.now{
	border-right:none;
	background: white;
}
.left ul li a{
	display: block;
}


/*主体区右侧侧*/ 
.right{
	/*overflow:hidden使它跟别的浮动盒子隔绝
	效果就是它会占据同一行的所有剩余区域*/
	overflow: hidden;
	height: 100%;
	padding-left:5px;
	padding-top:5px;
	background: white;
}
.right .box{
	/*这里里面要做滚动的盒子，不能设置高度
	通常他超过外面的盒子，就可以滚动了*/
	width: 200%;
}
.right ul{
}
.right ul li{
	float: left;
	width: 33%;
	text-align: center;
}
.right ul li img{
	margin:0 auto;
}




/*头部*/
.header a.logo{
	margin-left: 6px;
	margin-right: 2px;
	width: 22px;
	padding-top:5px;
	height: 35px;
	background: red;
	background: url(../images/sprites.png) -23px 7px/210px 210px no-repeat;

	background-clip:border-box;
}
.header form{
	padding:0 3px;
	flex-grow:1;
	position: relative;
	/*border: 1px solid red;*/

}
.header form input{
	margin-top:4px;
	height: 32px;
	width: 100%;
	/*border:none;*/
	outline: auto;
	padding-left: 10px;

}

.header a.login{
	width: 46px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: url(../images/sprites.png) -52px -108px/210px 210px no-repeat;
	/*border: 1px solid red;*/
	background-clip:border-box ;
}